html {
    scroll-behavior: smooth;
}


body {
    font-family: rubik;
}

.btn {
    display: inline-block;
    padding: 15px 60px;
    size: 1.1rem;
    text-transform: uppercase;
    background-color: #111;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease ;
    text-decoration: none;
}

.btn:hover{
    cursor: pointer;
    background: #000;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px; 
}

/* NavBar */

#navbar {
    width: 100%;
    background: #111;
    color: #eee;
    height: 70px;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Bank {
    font-size: 2rem;
}

.navbar-itens {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.navbar-itens li {
padding: 10px;
}

.navbar-itens a {
    text-decoration: none;
    color: #eee;
}

/* Product Showcase */

#showcase{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url(/assets/6053830.jpg) no-repeat center center/cover;
    background-size: 110% 110%;
    animation: ShowcaseBackground 15s ease infinite;

    /* overlay */
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: color ;
}

@keyframes ShowcaseBackground {
    0%{
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#showcase-container {
    text-align: center;
}

#showcase-container h2 {
    font-size: 2.5rem;
}

#showcanse-container p {
    font-size: 1.2rem;
    padding-bottom: 10px 0px;
}

#showcase a {
    margin-top: 20px;
}

/* Clients */

#clients {
    display: inline-block;
    width: 100%;
    background: #eee;
    color: #111;
    padding: 50px;
}

.clients-container {
    display: grid;
    justify-items: center;
    width: 25%;
    padding: 15px;
}

.eth {
    width: 22rem;
    height: 22rem;
    padding: 20px;
}

/* About */

#features {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;

}

#featurescontainer {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px ;
}

.feature {
    width: 100%;
    display: flex; 
    flex-direction: column;
    background: #333;
    padding: 20px;
    border-radius: 5px;

} 

.features-title {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
}

#product {
    width: 100%;
    padding: 50px;
}

#product-container {
    justify-content: center;
    align-items: center;
}


#itens {
    display: grid;
    padding: 10px;
    margin-left: 45rem;
}

#itens p {
    font-size: 1.2rem;
}

#itens .itens{
    display: flex;
    padding: 10px;
}

.iphone-x {
    left: 1rem;
    width: 20%;
    height: 20%;
 }


